#admin{
	background-color: #fff;
	box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.5);
	border-radius: 4px;
	text-decoration: none;
	overflow: visible;
	position: relative;
	margin: 70px auto;  	
	width: 350px;

}
#admin ul{
	margin-left: 0;
	padding-left: 0;
}

#titulo {
    color: #4986E7;
    font-size: 14px;    
    font-weight: bold;
    margin: 0;
    padding-top: 5px;        
}

#logoIn{
	position: relative;
 	background-image: url(../media/img/logo.png); 	
	background-repeat: no-repeat;
	background-position:center center; 
	height: 200px;	
	text-decoration: none;	
	list-style-type:none;
	margin: 0;

}

#formIn{
	margin-left: auto;
 	margin-top: 10px;
	text-decoration: none;	
	list-style-type:none;
	width: 300px;
	z-index: 5;
}